@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="input-group mb-3">
        <input class="form-control" asp-for="SearchTerm" />
        <button class="btn btn-outline-secondary">
            <i class="bi bi-search"></i>
        </button>
    </div>
</form>

<table class="table">
    @foreach(var restaurant in Model.Restaurants)
    {
    <tr>
        <td>@restaurant.Name</td>
        <td>@restaurant.Location</td>
        <td>@restaurant.Cuisine</td>
    </tr>
    }
</table>

<div>@Model.Message</div>